.contenedorCrear {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formularioCrear {
    width: 100%;
    width: 500px;
    height: 600px;
    padding: 30px 50px 30px 50px;
    margin: 150px auto 0px auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
    color: bisque;
    font-size: 16px;
}

.formularioCrear h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: antiquewhite;
    font-size: 20px;
}

.formularioCrear input[type="text"], .formularioCrear input[type="file"], .formularioCrear select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.formularioCrear label {
    margin-top: 10px;
    display: block;
}

.formularioCrear .radioFondo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom:  30px;
}

.formularioCrear .radioFondo input{
    transform: translateY(3px);
}

.formularioCrear .logoFondo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formularioCrear .logoPersonalizado {
    display: flex;
    justify-content: space-between;
}

.formularioCrear .logoPersonalizado label{
    transform: translateY(-8px);
}

.formularioCrear .logoPredefinido {
    display: flex;
    justify-content: space-between;
    transform: translateY(-4px);
}

.formularioCrear .logoPredefinido label{
    transform: translateY(-4px);
}

#imagenFondoDef,
#imagenFondoWal {
    width: 350px;
    margin-top: 9px;
    margin-left: 18px;
    border-radius: 15px;
    border: 2px solid #000000;
    color: #000;
    background-color: #fff;
}

.formularioCrear .tipoFondo{
    font-size: 16px;
    font-weight: bold;
}

.formularioCrear .fileFondo {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10px);
}

.formularioCrear .fileFondo img{
    width: 150px;
    height: 130px;
    border-radius: 15px;
    border: 2px solid #000000;
}

.formularioCrear .logoColor {
    margin-top: 0px;
    transform: translateX(-5px);
}

.formularioCrear .logoVistaPrevia {
    transform: translateX(123px) translateY(-5px);
    margin-bottom: 11px;
}

.formularioCrear .btn-crear {
    margin-top: 10px;
}
